footer.footer
  .container
    .row.row-grid.align-items-center.mb-5
      .col-lg-6
        h3.text-primary.font-weight-light.mb-2 Thank you for supporting this project!
        h4.mb-0.font-weight-light Let's get in touch on any of these platforms.
      .col-lg-6.text-lg-center.btn-wrapper
        a.btn.btn-neutral.btn-icon-only.btn-twitter.btn-round.btn-lg(target='_blank' href='https://twitter.com/sespigole' data-toggle='tooltip' data-original-title='Follow on Twitter')
          i.fa.fa-twitter
        a.btn.btn-neutral.btn-icon-only.btn-linkedin.btn-round.btn-lg(target='_blank' href='https://www.linkedin.com/in/simonespigole/' data-toggle='tooltip' data-original-title='Connect on Linkedin')
          i.fa.fa-linkedin
        a.btn.btn-neutral.btn-icon-only.btn-github.btn-round.btn-lg(target='_blank' href='https://github.com/Blockost/url-shortener' data-toggle='tooltip' data-original-title='Star on Github')
          i.fa.fa-github
    hr
    .row.align-items-center.justify-content-md-between
      .col-md-6
        .copyright
          | © #{new Date().getFullYear()} 
          a(href='https://github.com/Blockost' target='_blank') Blockost.
      .col-md-6
        ul.nav.nav-footer.justify-content-end
          li.nav-item
            a.nav-link(href='https://demos.creative-tim.com/argon-design-system/docs/getting-started/overview.html' target='_blank') Original Argon theme by Creative Tim
            a.nav-link(href='https://www.creative-tim.com' target='_blank') 
          li.nav-item
            a.nav-link(href='https://github.com/Blockost/url-shortener/blob/master/LICENSE' target='_blank') MIT License