block header
      nav#navbar.navbar-main.navbar-expand-lg.navbar-transparent.navbar-light
        .container
          a.navbar-brand.mr-lg-5(href='/landing')
            img(src='/assets/img/brand/white.png')
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar_global', aria-controls='navbar_global', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbar_global.navbar-collapse.collapse
            .navbar-collapse-header
              .row
                .col-6.collapse-brand
                  a(href='/landing')
                    img(src='/assets/img/brand/blue.png')
                .col-6.collapse-close
                  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar_global', aria-controls='navbar_global', aria-expanded='false', aria-label='Toggle navigation')
                    span
                    span
            ul.navbar-nav.navbar-nav-hover.align-items-lg-center
              li.nav-item.dropdown
                a.nav-link(href='#', data-toggle='dropdown', role='button')
                  i.ni.ni-ui-04.d-lg-none
                  span.nav-link-inner--text Components
                .dropdown-menu.dropdown-menu-xl
                  .dropdown-menu-inner
                    a.media.d-flex.align-items-center(href='https://demos.creative-tim.com/argon-design-system/docs/getting-started/overview.html')
                      .icon.icon-shape.bg-gradient-primary.rounded-circle.text-white
                        i.ni.ni-spaceship
                      .media-body.ml-3
                        h6.heading.text-primary.mb-md-1 Getting started
                        p.description.d-none.d-md-inline-block.mb-0 Learn how to use Argon compiling Scss, change brand colors and more.
                    a.media.d-flex.align-items-center(href='https://demos.creative-tim.com/argon-design-system/docs/foundation/colors.html')
                      .icon.icon-shape.bg-gradient-success.rounded-circle.text-white
                        i.ni.ni-palette
                      .media-body.ml-3
                        h6.heading.text-primary.mb-md-1 Foundation
                        p.description.d-none.d-md-inline-block.mb-0
                          | Learn more about colors, typography, icons and the grid system we used for Argon.
                    a.media.d-flex.align-items-center(href='https://demos.creative-tim.com/argon-design-system/docs/components/alerts.html')
                      .icon.icon-shape.bg-gradient-warning.rounded-circle.text-white
                        i.ni.ni-ui-04
                      .media-body.ml-3
                        h5.heading.text-warning.mb-md-1 Components
                        p.description.d-none.d-md-inline-block.mb-0 Browse our 50 beautiful handcrafted components offered in the Free version.
              li.nav-item.dropdown
                a.nav-link(href='#', data-toggle='dropdown', role='button')
                  i.ni.ni-collection.d-lg-none
                  span.nav-link-inner--text Examples
                .dropdown-menu
                  a.dropdown-item(href='/landing') Landing
                  a.dropdown-item(href='/profile') Profile
                  a.dropdown-item(href='/login') Login
                  a.dropdown-item(href='/register') Register
            ul.navbar-nav.align-items-lg-center.ml-lg-auto
              li.nav-item.d-none.d-lg-block.ml-lg-4
                a.btn.btn-neutral.btn-icon(href='https://github.com/Blockost/url-shortener', target='_blank')
                  span.btn-inner--icon
                    i.fa.fa-github.mr-2
                  span.nav-link-inner--text Star on Github