extends layout

block content
    main
        section.section.section-lg
            .container
                .row.justify-content-center.text-center.mb-lg
                    .col-lg-8
                        h2.display-3 Whoopsie, something went wrong
                        p.lead.text-muted
                            | The URL you looking for does not seem to exist, yet :'(