doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='Simple, lightweight URL shortener')
        meta(name='author' content='Blockost')
        title Simple, lightweight URL shortener
        
        //- Favicon
        link(href='/assets/img/brand/favicon.png', rel='icon', type='image/png')
        
        //- Fonts
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700', rel='stylesheet')
        
        //- FontAwesome Icons
        link(href='/node_modules/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        
        //- Bundle CSS (include styles + nucleo icons)
        link(href='/assets/styles.bundle.css', rel='stylesheet', type='text/css')
        
    body
        //- Header
        include includes/header

        //- Main content
        block content

        //- Footer
        include includes/footer
        
        //- Core
        script(src='/node_modules/jquery/dist/jquery.min.js')
        script(src='/node_modules/popper.js/dist/umd/popper.min.js')
        script(src='/node_modules/bootstrap/dist/js/bootstrap.min.js')
        
        //- Bundle JS (Argon theme + other scripts)
        script(src='/assets/scripts.bundle.js')